SUPABASE_URL=https://wwqgixluxlegrttyhrgy.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_iDk4GcRCwlvD2M3NF0Oi7Q_T5mtPf5H
SUPABASE_PROJECT_REF=wwqgixluxlegrttyhrgy
NEXT_PUBLIC_SUPABASE_URL=https://wwqgixluxlegrttyhrgy.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_iDk4GcRCwlvD2M3NF0Oi7Q_T5mtPf5H
