node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/

# build
dist/
build/
coverage/
tmp/
temp/

# logs
*.log

# 视频/音频测试文件
*.mp4
*.mov
*.avi
*.mkv
*.webm
*.gif
*.mp3
*.wav
